@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;

  .wrapper {
    width: 100%;
    height: 100%;
    margin: auto;

    .textContainer {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      margin: 0 50px;

      @include mobile {
        gap: 10px;
        height: 70%;
        width: 100%;
        align-items: center;
        text-align: center;
        margin: 0;
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 10px;
        z-index: 3;
      }

      h1 {
        font-size: 88px;
        z-index: 3;

        @include mobile {
          font-size: 36px;
        }
      }

      .buttons {
        display: flex;
        gap: 20px;
        z-index: 5;

        @include mobile {
          flex-wrap: wrap;
          justify-content: center;
        }

        a {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          cursor: pointer;
          font-weight: 300;
        }
      }

      img {
        width: 50px;
        z-index: 3;

        // @include mobile {
        //     display: none;
        // }
      }
    }
  }

  .imageContainer {
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 25% 0 0 0;
    overflow: hidden;
    opacity: 0.8;
    z-index: 0;

    @include tablet {
      opacity: 0.6;
      height: 80%;
      width: 60%;
    }

    @include mobile {
      height: 70%;
      width: 100%;
      border-radius: 0;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slidingTextContainer {
    z-index: 1;
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}